<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fisk.findteacher">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:noHistory = "true" >

        <!-- actividades con sin tool bar por defecto -->
        <!--actividades con sin tool bar por defecto-->
        <activity
            android:name=".RegistroActivity"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PrincipalActivity"
            android:label="findTeacher"
            android:theme="@style/temasinactionbar"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
          ></activity>
        <!-- tema AppTeme -->
        <activity
            android:name=".RegistroDatosPersonales"
            android:label="@string/datos_personales" />
        <activity
            android:name=".PagoServicio"
            android:label="@string/realizacion_pago" />
        <activity android:name=".DemandaServicios"
            android:label="Servicios de profesores"/>
        <activity android:name=".DetalleUsuarioActivity"
            android:label="Detalle del formador"/>
        <activity android:name=".ListadoPerfilesActivity"
            android:label="Servicios de Profesores"/>
        <activity android:name=".RespuestaActivity"
            android:label="Respuesta"/>
        <!-- otras -->
        <activity
            android:name=".AmpliarInfoActivity"
            android:label="Ampliar Información" />
        <activity
            android:name=".DemandasActivity"
            android:label="Demandas activas"/>
        <!--tema AppTeme-->
        <activity android:name=".Perfil"
            android:label="Perfil del formador 1/2"/>
        <activity android:name=".PerfilAvanzadoActivity"
            android:label="Perfil del formador 2/2"/>
        <activity
            android:name=".EnvioRespuestaPersonal"
            android:label="@string/tit_envio_respuesta" />
        <activity android:name="org.fisk.findteacher.ListadoCrearDemandas"
            android:label="¿Qué profesor necesitas?"   />
        <activity android:name="org.fisk.findteacher.DetalleCrearDemanda"
            android:label="Crear Demanda" />
        <activity android:name="org.fisk.findteacher.ListadoVerDemandas"
            android:label="Demandas" />
        <activity android:name="org.fisk.findteacher.DetalleVerDemanda"
            android:label="Mi Demanda" />
        <activity android:name=".ListadoVerMisDemandas"
        android:label="Mis Demandas" />
        <activity android:name="org.fisk.findteacher.DetalleConsultaMiDemanda"
            android:label="Consulta" />
        <activity android:name="org.fisk.findteacher.DetalleRespuesta"
            android:label="Respuesta" />
        <activity android:name="org.fisk.findteacher.DetalleVerDemandas"
            android:label="Demandas" />
        <activity android:name="org.fisk.findteacher.ListadoGestionPerfilesActivity"
            android:label="Mis Perfiles" />
        <activity android:name="org.fisk.findteacher.DetalleMiPerfilActivity"
            android:label="Mi Perfil" />
        <!--otras-->
    </application>

</manifest>