<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fom.proyecto1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- actividades con sin tool bar por defecto -->
        <!--actividades con sin tool bar por defecto-->
        <activity
            android:name=".RegistroActivity"
            android:theme="@style/temasinactionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PrincipalActivity"
            android:theme="@style/temasinactionbar"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/temasinactionbar"></activity>
        <!-- tema AppTeme -->
        <activity
            android:name=".RegistroDatosPersonales"
            android:label="@string/datos_personales" />
        <activity
            android:name=".PagoServicio"
            android:label="@string/realizacion_pago" />
        <activity android:name=".DemandaServicios" />
        <activity android:name=".DetalleUsuarioActivity" />
        <activity android:name=".ListadoPerfilesActivity" />
        <activity android:name=".RespuestaActivity" />
        <!-- otras -->
        <activity
            android:name=".AmpliarInfoActivity"
            android:label="Ampliar Información" />
        <activity
            android:name=".DemandasActivity"
            android:theme="@style/temasinactionbar"></activity>
        <!--tema AppTeme-->
        <activity android:name=".Perfil"
            android:label="Perfil del Formador"/><!-- esto decía antes Editar Perfil -->
        <activity
            android:name=".EnvioRespuestaPersonal"
            android:label="@string/tit_envio_respuesta" />
        <activity android:name=".ListadoCrearDemandas"
            android:label="Qué Necesitas?"   />
        <activity android:name=".DetalleCrearDemanda"
            android:label="Crear Demanda" />
        <activity android:name=".ListadoVerDemandas"
            android:label="Demandas" />
        <activity android:name=".DetalleVerDemanda"
            android:label="Mi Demanda" />
        <activity android:name=".ListadoVerMisDemandas"
        android:label="Mis Demandas" />
        <activity android:name=".DetalleConsultaMiDemanda"
            android:label="Consulta" />
        <activity android:name=".DetalleRespuesta"
            android:label="Respuesta" />
        <activity android:name=".DetalleVerDemandas"
            android:label="Demandas" />
        <activity android:name=".ListadoGestionPerfilesActivity"
            android:label="Mis Perfiles" />
        <activity android:name=".DetalleMiPerfilActivity"
            android:label="Mi Perfil" />
        <!--otras-->
    </application>

</manifest>